<div class="main1">
  <!-- <div class="left-image"><img src="/assets/datahand.webp" alt="Data Hand Image">  -->

<div class="main">
  <p class="sign" align="center">Sign-up</p>

  <form class="form1" id="form1" [formGroup]="myForm" (ngSubmit) ="registerUser()" >
    <table>
      <tbody>
      <tr>
        <td> 
          <div class ="lab">
            <label align="center" >First Name<span style='color:red;'>*</span></label>
            </div>
            <div>
          <input class="un" formControlName="firstName" align="center" placeholder="" autocomplete="off"
            value="" required="" (blur)="errorCheckFirstName()" >
          </div>
        
        </td>
        </tr>
        <tr>
        <td>
          <div class ="lab">
          <label align="center">Last Name<span style='color:red;'>*</span></label>
        </div>
          <input class="un" type="text" formControlName="lastName" align="center" placeholder="" autocomplete="" value="" (blur)="errorCheckLastName()" >
        
        </td>
      </tr>
      <tr>
        <td>
          <div class ="lab">
          <label align="center" >User Name<span style='color:red;'>*</span></label>
          </div>
          <input class="un" type="text" formControlName="userName" align="center" placeholder="" value="" autocomplete="off" (blur)="errorCheckUserName()" >
        </td>
        </tr>
        <tr>
        <td>
          <div class ="lab">
          <label align="center">Email<span style='color:red;'>*</span></label>
          </div>
          <input class="un" type="email" formControlName="email" align="center" placeholder="" autocomplete="off" value="" (blur)="errorCheckEmail()">
        </td>
      </tr>
      <tr>
        <td>
          <div class ="lab">
          <label align="center" >Password<span style='color:red;'>*</span></label>
          </div>
          <input class="un" type="password" formControlName="password" align="center" placeholder="" autocomplete="new-password" value="" (blur)="errorCheckPassword()" >
        </td>
        </tr>
        <tr>
        <td>
          <div class ="lab" >
          <label align="center" >Confirm Password<span style='color:red;'>*</span></label>
          </div>
          <input class="un" type="password" formControlName="confirmPassword" align="center" placeholder="" autocomplete="off" value="" (blur)="errorCheckConfirmPassword()">
        </td>
      </tr>
            
      <tr>
        <td>
          <button class="submit"> Submit </button>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p class="error" *ngIf ="submitted" align ="center">{{ formerror }}</p>
        </td>
      </tr>
    </tbody>
    </table>
  </form>

</div>
</div>
<!-- </div> -->