<div class="top">
  <!-- <img src="/assets/ssl-image-1.jpg" alt="Data Hand Image" class="left-image"> -->


<div class="main">
  <p class="sign" align="center">Sign-up</p>

  <form class="form1" id="form1" [formGroup]="myForm" (ngSubmit) ="registerUser()" >
    <table>
      <tbody>
      <tr>
        <td>
          <div class ="lab">
            <label align="center" style= "color:darkorchid" >First Name</label>
            </div>
            <div>
          <input class="un" formControlName="firstName" align="center" placeholder="" autocomplete="off"
            value="" required="" (blur)="errorCheckFirstName()" >
          </div>
        
        </td>
        <td>
          <div class ="lab">
          <label align="center" style= "color:darkorchid" >Last Name</label>
        </div>
          <input class="un" type="text" formControlName="lastName" align="center" placeholder="" autocomplete="" value="" (blur)="errorCheckLastName()" >
        
        </td>
      </tr>
      <tr>
        <td>
          <div class ="lab">
          <label align="center"  style= "color:darkorchid" >User Name</label>
          </div>
          <input class="un" type="text" formControlName="userName" align="center" placeholder="" value="" autocomplete="off" (blur)="errorCheckUserName()" >
        
        </td>
        <td>
          <div class ="lab">
          <label align="center" style= "color:darkorchid"  >Email</label>
          </div>
          <input class="un" type="email" formControlName="email" align="center" placeholder="" autocomplete="off" value="" (blur)="errorCheckEmail()">
        </td>
      </tr>
      <tr>
        <td>
          <div class ="lab">
          <label align="center" style= "color:darkorchid" >Password</label>
          </div>
          <input class="un" type="password" formControlName="password" align="center" placeholder="" autocomplete="new-password" value="" (blur)="errorCheckPassword()" >
        </td>

        <td>
          <div class ="lab" style= "color:darkorchid" >
          <label align="center" >Confirm Password</label>
          </div>
          <input class="un" type="password" formControlName="confirmPassword" align="center" placeholder="" autocomplete="off" value="" (blur)="errorCheckConfirmPassword()">
        </td>
      </tr>
            
      <tr>
        <td colspan="2">
          <button class="submit"> Submit </button>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p class="error" *ngIf ="submitted" align ="center">{{ formerror }}</p>
        </td>
      </tr>
    </tbody>
    </table>
  </form>

</div>

</div>