<div class="main1">
  <!-- <div class="left-image"><img src="/assets/datahand.webp" alt="Data Hand Image">  -->

<div class="main">
  <p class="sign" align="center">Sign-up</p>

  <form class="form1" id="form1" [formGroup]="myForm" (ngSubmit) ="registerUser()" >
    <table align="center">
      <tbody>
      <tr>
        <td class="td"> 
          <div>
            <label class ="lab">First Name<span style='color:red;'>*</span></label><br>
            
          <input class="un" formControlName="firstName" align="center" placeholder="" autocomplete="off"
            value="" required="" (blur)="errorCheckFirstName()"><br>
            <span class="error" matTooltip="Maximum of 20 characters and may only contain alphabets">{{ firstnameerror }}</span>
          </div>
        
        </td>
        <td class="td">
          <div>
          <label class ="lab">Last Name<span style='color:red;'>*</span></label><br>
        
          <input class="un" type="text" formControlName="lastName" align="center" placeholder="" autocomplete="" value="" (blur)="errorCheckLastName()" ><br>
          <span class="error" matTooltip="Maximum of 20 characters and may only contain alphabets">{{ lastNameError }}</span>
        </div>
        </td>
        </tr>
        <tr>
        <td class="td">
          <div>
          <label class ="lab">User Name<span style='color:red;'>*</span></label><br>
          <input class="un" type="text" formControlName="userName" placeholder="" value="" autocomplete="off" (blur)="errorCheckUserName()"><br>
          <span class="error" matTooltip="8 to 16 characters long and may only contain alphanumeric characters">{{userNameError}}</span>
        </div>

        </td>
        <td class="td">
          <div>
          <label class ="lab">Email<span style='color:red;'>*</span></label> <br>
          <input class="un" type="email" formControlName="email" autocomplete="off" value="" (blur)="errorCheckEmail()" required><br>
          <span class="error" matTooltip="Provide email with standard format e.g someone@gmail.com">{{emailError}}</span>
        </div>
        </td>
      </tr>
      <tr>
        <td class="td">
          <div >
          <label class ="lab" align="center" >Password<span style='color:red;'>*</span></label><br>
        
          <input class="un" type="password" formControlName="password" placeholder="" autocomplete="new-password" value="" (blur)="errorCheckPassword()" ><br>
          <span class="error"matTooltip="8 to 16 characters long and may only contain alphanumeric and special characters">{{passwordError}}</span>
        </div>
        </td>
        <td class="td">
          <div>
          <label class ="lab" align="center" >Confirm Password<span style='color:red;'>*</span></label><br> 
          
          <input class="un" type="password" formControlName="confirmPassword" autocomplete="off" value="" (blur)="errorCheckConfirmPassword()"><br>
          <span class="error">{{confirmPasswordError}}</span>
        </div>
        </td>
      </tr>
            
      <tr>
        <td colspan="2" class="td">
          <button class="submit"> Submit </button>
        </td>
      </tr>
      <tr colspan="2">
        <p style="color:red">*{{formerror}}</p>
      </tr>
    </tbody>
    </table>
  </form>

</div>
</div>
<!-- </div> -->