.main {
	background-color: white;
	/* background: linear-gradient(to right, #ff0000, #00ff00); */
	width: 450px;
	height: 600px;
	/* margin: 3% auto; */
	border-radius: 1.5em;
	box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
	border-color: #f4f4f7;
	position: absolute; /* Position the overlay over the image */
	top: 0;
	left: 0;
	display: flex; /* Optionally, use flexbox for layout within the overlay */
	flex-direction: column; /* Adjust as needed */
	justify-content: center; /* Adjust as needed */
	align-items: center; /* Adjust as needed */
	margin-top: 2%;

}
.sign {
	padding-top: 5%;
	color: #aa555c;
	font-weight: bold;
	font-size: 20px;
	font-family:'Geneva, Verdana, sans-serif';
}

.error{
	height: 1em; 
	color: red; 
    font-size: 1em; 
	padding-left: 50px;
	font-family: ' Tahoma, Geneva, Verdana, sans-serif';
}
/* .error,
    .un {
        width: 48%; Set the width for the elements with a little gap in between 
        display: inline-block;
        vertical-align: top;  Align elements to the top
    } */
.lab{
	margin-left:20%;
	font-weight: 500;
	font-size: 14px;
	color: rgb(22, 20, 20);
	/* font-style: italic; */

}
.un {
width: 240px;
color: rgb(2, 15, 19);
font-weight: 400;
font-size: 13px;
letter-spacing: 1px;

margin-left: 48px;
text-align: center;
margin-bottom: 10px;
font-family: Tahoma;
height: 30px;
}

form.form1 {
	padding-top: 10px;
}

.submit {
	cursor: pointer;
	color: #1b1818;
	background-color: cornflowerblue;
	border: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-family: 'Tahoma, Geneva, Verdana, sans-serif';
	margin-left: 35%;
	font-size: 16px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
	font-weight: bold;
	font-weight: 1000px;
	text-align: center;
}

.main table td {
    height: 30px; 
}
/* .opt{
	font-family: 'Ubuntu', sans-serif;
} */
/* .left-image,img {
	width: 100%; */
	/* position: relative; */
	/* width: 100%; /* Ensure the image takes the entire width of its container 
	height: auto; /* Maintain aspect ratio 
	display: block;
} */
.main1{
  position: relative; 
  width: 100%; 
  height: auto;
  background-color: linear-gradient(to right, #ff0000, #00ff00); 
}