<div class="main">

  <div class="top">
    <h2 class="h2">
      <span class="nleft">Hi, {{ username }} </span>
      <span class="ncenter">{{ name }} </span>
      <a class="logout">Sign-out</a>
    </h2>
  </div>

  <div class="left">
    <p class="para">Certificate Service |
      <a class="cert" (click)="myCertificate()">My Certificate</a>
      <a class="cert">All Certificate</a>
    </p>
  </div>
<div class ="bottomheader">
  
  <div class="bottomleft" *ngIf="showHeader">
    <div> <button class ="button-3">Disassociate</button></div>
    <div class="container">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-0"></div>
          <div class="col col-1">No</div>
          <div class="col col-2">Certificate Name</div>
        </li>
        <li class="table-row" *ngFor="let item of jsonData; let i = index">
          <div class="col col-0"> <input type="checkbox" /> </div>
          <div class="col col-1" data-label="No">{{ i + 1 }}</div>
          <div class="col col-2" data-label="CertificateNumber"><a class="CertificateNumber"
              (click)="viewCertificate()">{{ item.CertificateName }}</a></div>
        </li>
      </ul>
    </div>
  </div>   
 

  <div class="bottomright" *ngIf="viewHeader">
    <table class="table">
      <tbody class = "tb">
    <div *ngFor="let entry of getObjectEntries(jsonData1)">
      <tr class="second">
        <td class = "td1">{{ entry[0] }}:
          </td>
          <td class = "td2">{{ entry[1] }}
    </td>
    </tr>
    </div>
    </tbody>
  </table>
 
</div>
</div>












<!-- <div class="main">
    <div class="left">
        <p>Login: {{ username }} </p>
        <br><br><br><br><br><br><br><br><br>
        <a class="cert">My Certificate</a><br><br>
        <a class="cert">All Certificate</a><br>
        <a class="logout">Logout</a>
    </div>
    <div>
        <h2 class="heading">My Certificate </h2>
        <div> <button class ="button-3">Disassociate</button></div>
        
    <div class="container">
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-0"></div>
            <div class="col col-1">No</div>
            <div class="col col-2">Certificate Number</div>
          </li>
          <li class="table-row" *ngFor="let item of jsonData; let i = index">
            <div class="col col-0"> <input type="checkbox"/> </div>
            <div class="col col-1" data-label="No">{{ i + 1 }}</div>
            <div class="col col-2" data-label="CertificateNumber"><a class="CertificateNumber" routerLink="/view">{{ item.SerialNumber }}</a></div>
          </li>
        </ul>
      </div>
      </div>
</div> -->